# The problem Statement

#### Prints each word in reverse.
#### Prints Top 2 occurring words in sorted order. The words that have occurred most of the time

In [6]:
from statistics import mode

In [8]:
Sample_input = input().lower().split(' ')
Sample_input.reverse()
Sample_input[0] = Sample_input[0].capitalize()
print()
print('Word in reverse:')
print()
print(*Sample_input)
print()
print('Top Two Occurring Words:')
print()
temp = [word for sub in Sample_input for word in sub.split()]
print(mode(temp),':',str(Sample_input.count(mode(temp))),'times')
temp = [i for i in temp if i != mode(temp)]
print(mode(temp),':',str(Sample_input.count(mode(temp))),'times')

This declaration represents a political commitment among declaration partners to advance a positive vision for the Internet in this era of a united europe

Word in reverse:

Europe united a of era this in internet the for vision positive a advance to partners declaration among commitment political a represents declaration this

Top Two Occurring Words:

a : 3 times
this : 2 times

# Assignment Using SQL

# ASSIGNMENT-01SQL

In [ ]:
CREATE DATABASE Grocery_shop
use  Grocery_shop
CREATE TABLE sales_detail(Cat_Id INT,Product_Id INT,Trending INT)
INSERT INTO sales_detail VALUES
('1' ,'100','1'),
('1' ,'100','2'),
('1' ,'100','1'),
('1' ,'100','2'),
('1' ,'200','1'),
('1' ,'200','2'),
('2' ,'300','1'),
('2','300','2'),
('2' ,'300','1'),
('2' ,'301','2'),
('3' ,'401','1'),
('3' ,'402','2'),
('3' ,'403','1')
SELECT * FROM sales_detail  
ORDER BY Cat_Id DESC

# ASSIGNMENT-02SQL

In [ ]:
CREATE DATABASE Voucher
use Voucher
CREATE TABLE Customer(Customer_Id varchar(255) );
INSERT INTO Customer VALUES ('Abhinash'),('Vipin'),('Mahesh'),('Bijoy'),('Bhabani'),('Ashutosh')
CREATE TABLE Voucher (Voucher_Id varchar(255) UNIQUE);
INSERT INTO Voucher VALUES('ABXFH'),('SDFGH'),('ERTYY'),('PPLKM');
with cte as(select *,row_number() over(order by Customer_Id) rr from Customers1),
cte2 as(select *,row_number() over(order by Voucher_Id) rr from Voucher)
    
select Customer_Id Customer_Key,Voucher_Id Gift_Voucher_Key
from cte c1
join cte2 c2 on c1.rr=c2.rr